[Desktop Entry]
Name=ToyShaderWallpaper
Name[ar]=ToyShader Wallpaper
Name[ca]=ToyShader Wallpaper
Name[ca@valencia]=ToyShader Wallpaper
Name[cs]=ToyShader Wallpaper
Name[da]=ToyShader Wallpaper
Name[de]=ToyShader Wallpaper
Name[en_GB]=ToyShader Wallpaper
Name[es]=ToyShader Wallpaper
Name[et]=ToyShader Wallpaper
Name[eu]=ToyShader Wallpaper
Name[fi]=ToyShader Wallpaper
Name[fr]=ToyShader Wallpaper
Name[gd]=ToyShader Wallpaper
Name[gl]=ToyShader Wallpaper
Name[hu]=ToyShader Wallpaper
Name[ia]=ToyShader Wallpaper
Name[id]=ToyShader Wallpaper
Name[it]=ToyShader Wallpaper
Name[ko]=ToyShader Wallpaper
Name[nb]=ToyShader Wallpaper
Name[nl]=ToyShader Wallpaper
Name[nn]=ToyShader Wallpaper
Name[pl]=ToyShader Wallpaper
Name[pt]=ToyShader Wallpaper
Name[pt_BR]=ToyShader Wallpaper
Name[ru]=ToyShader Wallpaper
Name[sk]=ToyShader Wallpaper
Name[sl]=ToyShader Wallpaper
Name[sr]=ToyShader Wallpaper
Name[sr@ijekavian]=ToyShader Wallpaper
Name[sr@ijekavianlatin]=ToyShader Wallpaper
Name[sr@latin]=ToyShader Wallpaper
Name[sv]=ToyShader Wallpaper
Name[tr]=ToyShader Wallpaper
Name[uk]=ToyShader Wallpaper
Name[x-test]=xxToyShader Wallpaperxx
Name[zh_CN]=ToyShader Wallpaper
Name[zh_TW]=ToyShader Wallpaper
Comment=Allows you to have a ToyShaderas your KDE Plasma wallpaper

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=Knowmad
X-KDE-PluginInfo-Email=info@knowmad.online
X-KDE-PluginInfo-Name=online.knowmad.toyshaderwallpaper
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Version=2.1
X-Plasma-MainScript=ui/main.qml
