[Desktop Entry]
Name=Shaders
Name[ar]=Shaders
Name[ca]=Shaders
Name[ca@valencia]=Shaders
Name[cs]=Shaders
Name[da]=Shaders
Name[de]=Shaders
Name[en_GB]=Shaders
Name[es]=Shaders
Name[et]=Shaders
Name[eu]=Shaders
Name[fi]=Shaders
Name[fr]=Shaders
Name[gd]=Shaders
Name[gl]=Shaders
Name[hu]=Shaders
Name[ia]=Shaders
Name[id]=Shaders
Name[it]=Shaders
Name[ko]=Shaders
Name[nb]=Shaders
Name[nl]=Shaders
Name[nn]=Shaders
Name[pl]=Shaders
Name[pt]=Shaders
Name[pt_BR]=Shaders
Name[ru]=Shaders
Name[sk]=Shaders
Name[sl]=Shaders
Name[sr]=Shaders
Name[sr@ijekavian]=Shaders
Name[sr@ijekavianlatin]=Shaders
Name[sr@latin]=Shaders
Name[sv]=Shaders
Name[tr]=Shaders
Name[uk]=Shaders
Name[x-test]=xxShadersxx
Name[zh_CN]=Shaders
Name[zh_TW]=Shaders
Comment=Allows you to use Shaders your KDE Plasma wallpaper

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=@y4my4my4m
X-KDE-PluginInfo-Email=y4my4m@protonmail.com
X-KDE-PluginInfo-Name=online.knowmad.shaderwallpaper
X-KDE-PluginInfo-License=GPLv3+
X-KDE-PluginInfo-Version=1.3
X-Plasma-MainScript=ui/main.qml
