[Desktop Entry]
Name=ShaderWallpaper
Name[ar]=Shader Wallpaper
Name[ca]=Shader Wallpaper
Name[ca@valencia]=Shader Wallpaper
Name[cs]=Shader Wallpaper
Name[da]=Shader Wallpaper
Name[de]=Shader Wallpaper
Name[en_GB]=Shader Wallpaper
Name[es]=Shader Wallpaper
Name[et]=Shader Wallpaper
Name[eu]=Shader Wallpaper
Name[fi]=Shader Wallpaper
Name[fr]=Shader Wallpaper
Name[gd]=Shader Wallpaper
Name[gl]=Shader Wallpaper
Name[hu]=Shader Wallpaper
Name[ia]=Shader Wallpaper
Name[id]=Shader Wallpaper
Name[it]=Shader Wallpaper
Name[ko]=Shader Wallpaper
Name[nb]=Shader Wallpaper
Name[nl]=Shader Wallpaper
Name[nn]=Shader Wallpaper
Name[pl]=Shader Wallpaper
Name[pt]=Shader Wallpaper
Name[pt_BR]=Shader Wallpaper
Name[ru]=Shader Wallpaper
Name[sk]=Shader Wallpaper
Name[sl]=Shader Wallpaper
Name[sr]=Shader Wallpaper
Name[sr@ijekavian]=Shader Wallpaper
Name[sr@ijekavianlatin]=Shader Wallpaper
Name[sr@latin]=Shader Wallpaper
Name[sv]=Shader Wallpaper
Name[tr]=Shader Wallpaper
Name[uk]=Shader Wallpaper
Name[x-test]=xxShader Wallpaperxx
Name[zh_CN]=Shader Wallpaper
Name[zh_TW]=Shader Wallpaper
Comment=Allows you to use Shaders your KDE Plasma wallpaper

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=@y4my4my4m
X-KDE-PluginInfo-Email=y4my4m@protonmail.com
X-KDE-PluginInfo-Name=online.knowmad.shaderwallpaper
X-KDE-PluginInfo-License=LGPLv3+
X-KDE-PluginInfo-Version=1.0
X-Plasma-MainScript=ui/main.qml
